
.advantages {
    @extend %container;
    margin-top: 0px;

    &--list {
            @extend %list;
            
            @media (min-width:768px) {
                display: flex;
                flex-wrap: wrap;

                
            }


           
        }
}


// .advantages

.advantages--item {

    // code for desktop
    
    
    @media (max-width:767px) {
        &+& {
                margin-top: 30px;
            }
    }

    @media (min-width:768px) and (max-width:1199px) {
        flex-basis: calc((100% - 30px) / 2);

        &:nth-child(even) {
                margin-left: 30px;
            }
        margin-bottom: 30px;

        &:nth-last-child(-n + 2) {
            margin-bottom: 0px;
        }
    }

    @media (min-width:1200px) {
        flex-basis: calc((100% - 90px) / 4);
            margin-right: 30px;
        
            &:nth-child(4n) {
                margin-right: 0px;
            }
 
    }
    
}

.advantages--box {
    // width: 270px;
    // height: 120px;

    // padding: 25px 193px;

    min-height: 120px;
    display: flex;

    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: $background-secondary-color;

    .advantages--icon {
            display: block;
        }
}

.subheader {

    margin-bottom: 10px;

    color: $secondary-text-color;

    font-weight: 700;
    font-size: $mainFont-size;
    line-height: 1.14;
    text-transform: uppercase;

    text-align: center;

    &--text {
            font-size: $mainFont-size;
            line-height: 1.71;
        }
}




