.page-header {
    border-bottom: 1px solid #ECECEC;

    .container--for-nav {
        @extend %container;
            display: flex;
            align-items: center;
            margin-top: 0px;
        }
}


// nav

.site-nav {
    display: flex;
    align-items: center;
}



.logo--header {
    @include logo(black);

    &--web {
        color: $accent-color;
    }
}



.site-nav__list {
    @extend %list;
    display: flex;
    margin-left: 93px;

    & .site-nav__item+.site-nav__item {
            margin-left: 50px;
            /* outline: 2px solid tomato; */
        }
    
    
}

.current {
    position: relative;
    color: $accent-color;

    &::after {
        position: absolute;
        display: inline-block;
        content: '';
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        bottom: 0px;
        left: 0;
        border-radius: 2px;
    }
}



.site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

    color: $secondary-text-color;
    font-weight: 500;
    font-size: $mainFont-size;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:hover, &:focus {
        color: $accent-color;
    }
}



// auth

.auth {
    @extend %list;
    margin-left: auto;
    display: flex;

    &__item + &__item {
            margin-left: 50px;
        }

}

.auth__email {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $primary-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 500;
    font-size: $mainFont-size;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}



.auth__icon {
    margin-right: 10px;
    fill: currentColor;
    vertical-align: middle;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .auth__email:hover & {
            fill: $accent-color;
        }
}





