
.section--grey {
    background-color: $background-secondary-color;
}

.team {
    
    padding-top: 0px;
    padding-bottom: 0px;

    &--list {
            @extend %list;

            @media (min-width:768px)  {
                display: flex;
                flex-wrap: wrap;
            }
            @media (min-width:1200px) {
                // flex-wrap: nowrap;
            }
           
        }

    &--item {

            text-align: center;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            background-color: #fff;

            @media (min-width:768px) and (max-width:1199px) {
            
            flex-basis: calc(( 100% - 30px ) / 2);  
            // flex-basis: 354px;

            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 30px;
            }
            
            &:nth-child(even) {
                margin-left: 30px;
            }
                        }
            
            @media (min-width:1200px) {
                    
                &:not(:nth-child(1)) {
                    margin-left: 30px;
                }
                    &:nth-child(4n) {
                    margin-right: 0px;
                    }
            }
        }
            &--subheader {
        
            font-weight: 500;
            font-size: 16px;
            line-height: 1.17;
            color: $secondary-text-color;
        }
}



.team__desc--padding {

    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 122px;
    padding-right: 122px;
    
    @media (min-width:768px) {
        padding-left: 74px;
        padding-right: 74px;
    } 

    @media (min-width:1200px) {
        padding-bottom: 30px;
            padding-right: 32px;
            padding-left: 32px;
    }
   
    
}

.team__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}

.icon-list__item + .icon-list__item {
    margin-left: 10px;
}

 .team__icon-list {
     @extend %list;
     display: flex;
     margin: 0px;
     margin-top: 16px;
     justify-content: center;
 }

 .team__link {
     width: 44px;
     height: 44px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: transparent;

     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus {
         background-color: $accent-color;
     }
 }

.team__social-svg {
    display: block;
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .team__link:hover &,
    .team__link:focus & {
        fill: #ffffff;
    }
}



