
// colors

$primary-text-color:#757575;
$secondary-text-color: rgba(33, 33, 33, 1);
$accent-color: rgba(33, 150, 243, 1);
$background-secondary-color: rgba(245, 244, 250, 1);
$hero-and-footer-color:rgba(47, 48, 58, 1);
$clients-color:#AFB1B8;
$trans-accent-color:rgba(33, 150, 243, 0.9);
$form-boder-color:#21212133;



// fonts

$mainFont: Roboto, sans-serif;

$logoFont: raleway, sans-serif;

$section-titleFont: 36px;

$mainFont-size: 14px;



